[submodule "lib/commonlibf4"]
	path = lib/commonlibf4
	url = https://github.com/flenarntemp/commonlibf4.git
[submodule "src/detourXS"]
	path = detourXS
	url = https://github.com/DominicTobias/detourxs.git
